header {
	position: 	absolute;
	left:		0;
	top:		0;
	height:		150px;
	width:		100%;
	background:	 #58D68D url('../img/logo.png') no-repeat 5px 5px;
	border-bottom:	1px solid #133783
	}
	
body#welcomePage header {
	background:		#58D68D url('../img/shortLogo.png') no-repeat 20px 25px;
	height:			110px;
	color : 		#FFFFFF;
	
	}

body {
	margin: 0;
	padding: 0;
	font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px
	color: #000333;
	}
	

	
body section#Section1  {
	position: 	absolute;
	top:		200px;
	left:		50%;
	width:		600px;
	margin:		0 0 0 -300px;
	padding:	10px;	
	}
	
body#BodyLogin section#Section1 {
	top:		200px;
	}
	
body#userProfilPage {
	top:		200px;
	}
	
h1 {
	text-align: center;
	font-size:	22px;
	margin:		0px 60px 30px 60px;
	padding:	0 0 5px 0;
	color:		#58D68D;
	border-bottom: 1px solid #58D68D;
	}
	
	

form label {
	display:	block;
	width:		150px;
	float:		left;
	text-align:	right;
	padding:	3px 10px 0 0;
	}

form input[type="email"], form input[type="text"],
form input[type="password"] {
	display:	block;
	width:		400px;
	padding:	2px;
	}

form input[type="submit"] {
	
	margin:				0 20px 0 250px;
	border-style: 		solid;
	border-width:		1px;
	border-color:		#d9dfea #0e1f5b #0e1f5b #d9dfea;
	color:				#FFFFFF;
	background-color:	#58D68D;
	padding:			2px 15 px 3 px 15px;
	text-align:			center;
	}
	

	
body#welcomePage header p#name {
	font-size:	22px;
	margin:		20px 0 0 70px;
	}
	
body#welcomePage header p#function {
	margin: 0 0 0 70px;
	}

body#welcomePage header p#profileLinks {
	position: 	absolute;
	right:		40px;
	top:		25px;
	}
	
body#welcomePage section#content {
	width:		800px;
	margin:		0 0 0 -400px;
	}
	
body#welcomePage section#messageList {
	position: 	absolute;
	width:		600px;
	background-color	:red;
	}
	
body#welcomePage section#friendList {
	position:	absolute;
	width:		200px;
	right:		0;
	background-color:	yellow;
	}
	
a.buttonLink {
	border-style:	solid;
	border-width:	1px;
	border-color:	#d9dfea #0e1f5b #0e1f5b #d9dfea;
	background-color:	#58D68D;
	color :				#FFFFFF;
	padding:			2px 15px 3px 15px;
	text-align:			center;
	text-decoration: 	none;
	}
	
	
ul.errorlist {
	margin-left:		160px;
	padding:			0;
	list-style-type:	none;
	color:				#d23d24;
	}
	
	
a {
	color:	#3b5998;
	}
	